RewriteEngine On

# Agar fayl mavjud bo‘lsa, to‘g‘ridan-to‘g‘ri ochilsin
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Agar papka mavjud bo‘lsa, to‘g‘ridan-to‘g‘ri ochilsin
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Qolgan barcha so‘rovlar index.html ga yuborilsin
RewriteRule ^ index.html [L]
